::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: rgb(3, 0, 156);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 0, 0);
}

#dialog-window {
    height: 200px;
    border-bottom: blue 2px solid;
    border-top: blue 2px solid;
}

#scrollable-content {
    height: 200px;
    overflow: auto;
    background-color: white;
}

#box {
    height: 250px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin-top: 10%;
    padding-top: 40px;
    padding-left: 25%;
    padding-bottom: 20px;
}
.media-body p {
   line-height: 3px;
}
img {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
}
.ubtn {
    width: 100px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    border: white 1px solid;
    margin: 5px;
    padding: 10px;
}

#ttl {
    font-size: 20px;
}

@media only screen and (max-width: 720px) {
  #box {
      margin-top: 5%;
      padding-top: 40px;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 20px;
  }
}
