::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: rgb(3, 0, 156);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 0, 0);
}

@font-face {
    font-family: 'Product Sans';
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {
    font-family: 'Product Sans';
}

img {
    width: 100px;
    height: 100px;
    border: 0px solid #20124d;
    border-radius: 10px;
}

progress {
    border-radius: 7px; 
    width: 80%; 
    height: 8px;
}
progress::-webkit-progress-bar {
    background-color: rgb(122, 122, 122);
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background-color: rgb(104, 20, 214);
    border-radius: 7px;
}
progress::-moz-progress-bar {
    /* style rules */
}

td:hover {
    color: white;
    background-color: #674ea7;
}

#dialog-window {
    height: 200px;
    border-top: blue 2px dotted;
}

#scrollable-content {
    height: 200px;
    overflow: auto;
}

#box {
    height: 250px;
    margin-top: 5px;
    padding-top: 40px;
    padding-left: 25%;
    padding-bottom: 20px;
}

.media-body p {
   line-height: 3px;
}

.ubtn {
    width: 80px;
    background-color: #674ea7;
    border: #674ea7 0px solid;
    color: white;
    border-radius: 30px;
    border: 1px solid;
    margin: 5px;
    padding: 4px;
}

.ubtn:hover {
    background-color: white;
    color: #674ea7;
    border: #674ea7 1px solid;
}

.dark-mode {
    background-color: #20124d;
    color: white;
}

#ttl {
    font-size: 20px;
}

@media only screen and (max-width: 720px) {
  #box {
      margin-top: 5%;
      padding-top: 40px;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 20px;
  }
}
